.wrapper{
    background: url("../../assets/img/bg/frenslistchecker/frenslistchecker.jpg") 0 0/100% 100% no-repeat;
    position: relative;
}

.exit{
    position: absolute;
    top: 11%;
    left: 4.5%;
    height: 8%;
    width: 8.5%;
    padding: .6%;
}

.info{
    position: absolute;
    top: 47.5%;
    left: 27.5%;
    width: 44.5%;
    height: 20%;
}
.btn{
    position: fixed;
    display: block;
    bottom: 12.5%;
    left: 40.5%;
    width: 18%;
    height: 13%;
}

.form{
    width: 100%;
    height: 100%;
    padding: 0 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    display: block;
    width: 100%;
    padding: 2% 3%;
    border-radius: 20px;
    font-family: "Arial";
    font-size: 150%;
    color: #6F6C6C;
}

.input::placeholder{
    font-weight: 800;
    color: #6F6C6C;
    word-spacing: 7.5px;
}

.result{
    font-family: "Arial";
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
}

.red{
    color: #F51212;
}

.green{
    color: #38E41C;
}

@media (max-width: 1600px){
    .input::placeholder{
        word-spacing: normal;
    }

    .result{
        font-size: 22px;
    }
}

@media (max-width: 1400px){
    .input{
        font-size: 125%;
    }

    .result{
        font-size: 18px;
    }
}

@media (max-width: 1200px){
    .input{
        font-size: 100%;
    }

    .result{
        font-size: 16px;
    }
}

@media (max-width: 992px){
    .input{
        font-size: 85%;
    }

    .result{
        font-size: 14px;
    }
}

@media (max-width: 762px){
    .wrapper{
        background: url("../../assets/img/bg/frenslistchecker/frenslistchecker_mobile.jpg") 0 0/100% 100% no-repeat;
    }

    .exit{
        top: 7.6%;
        width: 22%;
        height: 6%;
        left: 14%;
        padding: 1%;
    }

    .info{
        top: 51.5%;
        left: 11%;
        width: 78%;
        height: 20%;
    }

    .result{
        font-size: 20px;
    }

    .btn{
        width: 44%;
        bottom: 14%;
        left: 28.5%;
        height: 10%;
    }

    .input{
        font-size: 100%;
    }
}

@media (max-width: 625px){
    .result{
        font-size: 16px;
    }
}

@media (max-width: 550px){
    .result{
        font-size: 14px;
    }

    .input{
        font-size: 85%;
    }
}

@media (max-width: 500px){
    .result{
        font-size: 12px;
        line-height: 15px;
    }
}

@media (max-width: 475px){
    .input{
        font-size: 75%;
        padding: 3%;
    }

    .result{
        margin-bottom: 25px;
    }
}

@media (max-width: 375px){
    .result{
        font-size: 80%;
    }

    .input{
        font-size: 70%;
    }
}